
<div class="ribbon">
     <span class="ribbon-content">Send your picture</span>
</div>
<div class="mailsend_form">
    <%= form_tag "/user_picture/send_mail", method: 'post' do %>

        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <p>
            <%= label_tag "recipient's email:" %>
            <%= text_field_tag 'email_address' %>
        </p>
        <p>
            <%= label_tag "recipient's name:" %>
            <%= text_field_tag 'name' %>
        </p>
        <p>
            <%= label_tag "your message:" %>
            <%= text_area_tag "message_body" %>
        </p>
        <%= submit_tag "Send picture" %>
    <% end %>
</div>
